# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments & Packages
.env
.venv
env/
venv/
ENV/
.pytest_cache/
.coverage
htmlcov/

# Project configuration tooling
.idea/
.vscode/
*.swp
